# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=no
# Boot menu resolution
INTERFACE_RESOLUTION=3840x2160
#Branding string
INTERFACE_BRANDING=Catalyst Limine
INTERFACE_BRANDING_COLOR=7
#Wallpaper File
TERM_WALLPAPER=boot:///limine_wallpaper.jpg
TERM_WALLPAPER_STYLE=stretched

# The entry name that will be displayed in the boot menu.
:Catalyst
    # We use the Limine boot protocol.
    PROTOCOL=limine

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///kernel.elf
